<!DOCTYPE html>

<html>
 
<head><base href="/">
<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
			<title>SchoolZoid</title>
		<meta charset="utf-8" />
		<meta name="description" content="SchoolZoid is an online school management system that saves you time and makes your school look professional ." />
		<meta name="keywords" content="SchoolZoid is world's first fully online school management system with scheduler, parent portal, attendance, homework, grades, report card and more." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="This school management software is for learning, administration, and management activities in schools, colleges, universities." />
		<meta property="og:url" content="https://schoolzoid.co.zw" />
		<meta property="og:site_name" content="SchoolZoid | Arioc Digital Agency" />
		<link rel="canonical" href="https://schoolzoid.co.zw" />
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendor Stylesheets(used by this page)-->
		<link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Page Vendor Stylesheets-->
		<!--begin::Global Stylesheets Bundle(used by all pages)-->
		<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		
    


   
  
  
</head>

<body>

{{{body}}}
  
 
 	
</body>

</html>


</html>